---
import classNames from "classnames";
import "./Card.scss";
import Pill from "./atoms/Pill.astro";
import { serverUrl } from "../constants/api";
import { CategoryColors } from "../constants/user";
import { formatDate } from "../helpers";

const { attributes, isSmall } = Astro.props;

const { poster, title, location, date, categories = [], slug } = attributes;

const formattedDate = formatDate(new Date(date));

const coverImage = serverUrl.concat(
  poster?.data?.attributes?.formats?.small?.url
);
---

<li class={classNames({ card: true, isSmall })}>
  <img alt={title} src={coverImage} />

  <div class="date">{formattedDate}</div>
  <h3><a href={"/eventos".concat("/", slug)}>{title}</a></h3>
  <div class="location">{location}</div>

  <div class="pill-container">
    {
      categories?.data.map((category) => (
        <Pill
          label={category?.attributes?.name}
          color={CategoryColors[category?.id]}
        />
      ))
    }
  </div>
</li>
