---
import { getRandomInt } from "../utils/math";
import "./Card.scss";
import Pill from './atoms/Pill.astro'

const categories = [
  { label: "Musica", color: "magenta" },
  { label: "Poesia", color: "red" },
  { label: "Teatro", color: "blue" },
  { label: "Arte", color: "lime" },
  { label: "Fotografia", color: "volcano" },
];

function getCategories() {
  // Shuffle array
  const shuffled = categories.sort(() => 0.5 - Math.random());
  // Get sub-array of first n elements after shuffled
  const selected = shuffled.slice(0, getRandomInt(0, categories.length));
  return selected;
}

const { coverImage, title, location, date } = Astro.props;
---

<li class="card">
    <img alt={title} src={coverImage} />
    
      <div class="date">{date}</div>
      <h3>{title}</h3>
      <div class="location">{location}</div>

      <div>
        {getCategories().map(category => <Pill label={category.label} color={category.color}/>)}
      </div>    
</li>
